.sobrenos {
    padding: 20px;
}

.sobrenos .container {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about{
    height: 10%;
    font-family: cursive;
    background: #ed87e2f3;
    font-weight: bold;
    padding: 25px 10px;
    margin: 8px;
    font-size: 20px;
    box-shadow: 2px 2px 2px #262424;
}

.about h2{
    color: darkviolet;
    font-size: 45px;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    border-bottom: 2px solid black;
}

.about p{
    margin: 5px;
    text-align: justify;
}

.titulo_diferente{
    text-align: end;
}

.about li{
    text-align: justify;
    list-style-type: none;
}

.valores{
    color: rgb(164, 14, 228);
}